<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smallpigex.eat" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantViewPager"
            android:label="@string/title_activity_restaurant_view_pager" >
        </activity>
        <activity
            android:name=".dummy.TestingViewerActivity"
            android:label="@string/title_activity_testing_viewer" >
        </activity>
        <activity
            android:name=".RestaurantDetailActivity"
            android:label="@string/title_restaurant_detail" >
        </activity>
    </application>

</manifest>
